<h1>Welcome to {{ title }}</h1>
<hr>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['link-activated']">Home</a> - 
    <a [routerLink]="['/frutas']" [routerLinkActive]="['link-activated']">Frutas</a> - 
    <a [routerLink]="['/empleados']" [routerLinkActive]="['link-activated']">Empleados</a> - 
    <a [routerLink]="['/contacto']" [routerLinkActive]="['link-activated']">Contacto</a>
</nav>
<!-- <empleados></empleados> -->
<router-outlet></router-outlet>