<h2>{{nombre_componente}}</h2>
<p>{{nombre_empleado}}</p>

<strong>Switch & ngModel</strong>
<input type="text" [(ngModel)]="color_seleccionado">
<p>{{color_seleccionado}}</p>
<ul [ngSwitch]="color_seleccionado">
   <li *ngSwitchCase="color_seleccionado" [ngStyle]="{
      'background': color_seleccionado,
      'color': 'white',
      'padding': '20px'
      }">Texto de prueba</li>
</ul>

<pre
   [style.border]="color_seleccionado == 'red' ? '5px solid black': '1px solid green'"
   [ngClass] = "{
      fondoAzul: color_seleccionado == 'blue',
      fondoVerde: color_seleccionado == 'green'
   }"
>
   <strong>Color elegido:</strong>
   {{color_seleccionado}}
</pre>

<strong>Empleado del mes</strong>
<ul>
   <li>{{empleado.nombre}}</li>
   <li>{{empleado.edad}}</li>
   <li>{{empleado.cargo}}</li>
</ul>
<hr>
<br>
<button (click)="cambiarEstado()">Cambiar estado</button>
<br>
<ul>
   <li>{{trabajadores[1].nombre}}</li>
   <li>{{trabajadores[1].edad}}</li>
   <li>{{trabajadores[1].cargo}}</li>
   <li *ngIf="trabajadores[1].contratado == true">Contratado</li>
   <li *ngIf="trabajadores[1].contratado == false">No Contratado</li>
</ul>
<hr>
<strong>Lista de empleados</strong>
<ul>
   <li *ngFor="let trabajador of trabajadores; let i = index">
      <strong>{{i+1}}</strong>
      <ul>
         <li>{{trabajador.nombre}}</li>
         <li>{{trabajador.edad}}</li>
         <li>{{trabajador.cargo}}</li>
      </ul>
   </li>
</ul>